*{
    margin: 0;
    padding: 0;

}
.border{
    border: solid black;
}
.contener{
    display: flex;
    background-color: black;
}
.home{
    margin: 5px;
    width: 25vw;
    height: 17vh;
    background-color: #171717;
    border-radius: 6px;
    padding: 5px;
    margin-bottom: 1px;
}
.topcon{
    display: flex;
    flex-direction: column;
}
.leftcontener{
    width: 25vw;
    flex-direction: column;
    margin-top: 1px;
    margin: 5px;
    background-color: #171717;
    border-radius: 6px;
    padding: 5px;
    height: 80vh;

    
}

.rightcontener{
    width: 75vw;
    background-color: #171717;
    height: 100vh;
    margin: 5px;
    border-radius: 6px;
}
.margin{
    margin-left:3px ;

}
.invert{
    filter: invert(1);
}
.home1 ul li {
    display: flex;
  gap: 11px;
  width: 21px;
    list-style: none;
    font-size: large;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;}

.home1 ul li a{
    display: flex;
  gap: 11px;
  padding-top: 20px;
  width: 21px;
  text-decoration-line: none;
    list-style: none;
    font-size: large;
    color: #000;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;

}
.library{
    font-weight: 700;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    gap: 11px;
}
.header2{
    width: 71vw;
    height: 6vh;
    display: flex;
    background-color: #353434;
    margin: 2px;
    border-radius: 6px;
    align-items:center;
    justify-content: space-between;

}
.library img{
    width: 22px;
    margin: 5px;
}
.button{
    margin: 5px;
    justify-content: space-between;
    cursor: pointer;
}
.buttons:hover {
    font-size: larger;
    padding: 2px;
    color: black;
    transition-duration: 0.4s;
    cursor: pointer;
    
}
.buttons{
    background-color : #353434;
    border: none;
    font-size: large;
    margin-right: 12px;
    color: aliceblue;
    
}
.buttonl:hover {
    font-size: larger;
    padding: 7px;
    
}
.buttonl{
    font-size: large;
    border-radius: 20px;
    border: none;
    padding: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.dirbutton{
    display: flex;
    align-items: center;
  
  
   
}
.hamburger{
    background-color: #353434;
    margin-left: 5px;
    margin-right: 20px;
    height: 30px;
      display: none;
    
}
.dirbutton img{
    background-color: #171717;
    border-radius:80% ;
    padding: 3px;
}
.playlist{
    padding-top: 1.6%;
    display: flex;
    justify-content : center;
    flex-wrap: wrap;
    max-height: 78vh;
    overflow-y:scroll;
}
.card{
    width: 175px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.cardcontainer {
   transition: all 1s;
gap: 10px;


}
.cardcontainer :hover{
    transition: 1s;
    background-color: #353434;
    text-decoration: none;
    width: 185px;
    gap :5px;

}
.cardcontainer:hover .play{
    opacity: 1;
    top :170px;
    transition: all 0.5s ease-out;
}
.card h2  {
 color: #ffffff;
}

.card p {
    color: #ffffff;
   }
.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}
.play{
    width: 28px; 
    height: 28px;
    padding: 4px;
    align-items: center;
 position: relative;
    top : 200px;
    opacity: 0;
    left:5px;
}

.play:hover{
   object-fit: contain;
    width: 5px;
    transition: none;
    
}
.magin{
    margin-left: 5px;
    padding-top: 20px;
      overflow-y: scroll;
      max-height: 60vh;
  

}
.magin ul li {
    display: flex;
    list-style-type: decimal ;
    gap: 20px;
    cursor: pointer;
    padding: 13px 0px;
    padding-left: 4px;
    border: solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 12px 0px;
    justify-content: space-between;

    

     
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 10px;
    padding-right: 4px;
}
.playbar{
   bottom: 20px;
    height: 40px;
    
    width: 72%;
   
    background-color: #353434;
    border-radius: 25px;
    padding-bottom: 15px;
    position: fixed;
}
.icons{
    padding-top:5px ;
    padding-bottom:5px ;
display: flex;
justify-content: center;
position: relative;
cursor: pointer;

}

.seekbar{
        bottom: 8px ;
        width: 97%;
        margin-left: 10px;
        height: 4px;
        border-radius: 20px;
      background-color: #ffffff;
        border: 1.5px solid white;
        position: absolute;
        cursor: pointer;
}
.circle{
    margin-top: 1.5px;
    height: 15px;
    width: 13px;
    
    border-radius: 13px;
    background-color: #ffffff;
    position:relative;
    bottom: 7.5px;
    left: 0px;
    transition: left 0.5s;
}
.uperbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.information{
    margin-left: 10px;
    width: 25%;
}
.duration{
    display: flex;
    justify-content: right;
    margin-right: 10px ;
    width: 25%;
}
.crosse{
    display: flex;
    display: none;
    cursor : pointer;
}
.information{
    font-size: 0.9rem;
}
    

@media (max-width:800px) {

.topcon{
       position: absolute;
       left:-100%;
       z-index: 1;
       transition: all 1s;
       width: 300px;
       background-color: #000;
     

    }
    .home{
        width: 92%;
    }
    .leftcontener{
        width: 92%;
    }
    .rightcontener{
        width: 100%;
    }
    .playbar{

        align-items: center;
        margin-right: 5px;
        width: 98%;
        height: 10vh;
        bottom: 5px;
        border-radius: 4px;
       
        padding-top: 10px;
    }
    .seekbar{
        width: 93%;
        margin: 4px;
        
    }
.header2{
    width: 100%;
}
.playlist{
    width:100%
   
}
.hamburger  {
    display: block;
    display: flex;
    align-items: center;
}
.hamburger img {
    height: 25px;
}
.topconh{
    display: flex;
    justify-content: space-between;
}
.crosse{
   display: block;
    cursor : pointer;
}
.information{
    font-size: 0.6rem;
}
.uperbar{
    align-items: center;
}
.duration{
    font-size: 0.7rem;
}
.magin{
    font-size: 0.8rem;
}
.cardcontainer{
    width: 38vh;

}
.cardcontainer :hover {
    transition: 1s;
    background-color: #353434;
    text-decoration: none;
    width: 40vh;
    gap: 5px;
}
.card{
    width: 90%;
}
    
}